/Lab 14/
/Lab 15/
/Lab 13/
220041133_lab3_task1.dSYM/Contents/._Info.plist
220041133_lab3_task1.dSYM/Contents/._Resources
220041133_lab3_task1.dSYM/Contents/Info.plist
220041133_lab3_task1.dSYM/Contents/Resources/._DWARF
220041133_lab3_task1.dSYM/Contents/Resources/DWARF/._220041133_lab3_task1
220041133_lab3_task1.dSYM/Contents/Resources/DWARF/220041133_lab3_task1
Lab 15 -special vid- file operations alias
Untitled-1.c
